<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/NSMPlayer_Example.app</string>
		<key>CFBundleIdentifier</key>
		<string>org.cocoapods.demo.NSMPlayer-Example</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>3</string>
		<key>SigningIdentity</key>
		<string>iPhone Distribution: Honorary Academy Ltd. (7GL725C6FL)</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2017-04-19T07:25:23Z</date>
	<key>Name</key>
	<string>NSMPlayer-Example</string>
	<key>SchemeName</key>
	<string>NSMPlayer-Example</string>
</dict>
</plist>
